<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="col-md-6 offset-md-3">
			<h3> Enter Lowest grade  amount </h3>
			<form action="/grade" method="POST">

				<div class="form-group">
					<label>amount</label>
					<input type="number" class="form-control" id="name"  name="amount" required>
				</div>

				<button class="btn btn-success" type="submit">Submit</button>

			</form>
		</div>
	</div>


</body>

</html>